name: Release

on:
  push:
    tags:
    - '*'

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: RUSTFLAGS='-C link-args=-s' cargo build -j`nproc` --release
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: linux-artifact
          path: target/release/nomino
  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: RUSTFLAGS='-C link-args=-s' cargo build -j`sysctl -n hw.physicalcpu` --release
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: macos-artifact
          path: target/release/nomino
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: cargo build --release
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: windows-artifact
          path: target\release\nomino.exe
  deploy:
    needs: [linux, macos, windows]
    runs-on: ubuntu-latest
    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: v${{ github.ref }}
          draft: false
          prerelease: false
      - name: Download linux artifact
        uses: actions/download-artifact@v1
        with:
          name: linux-artifact
      - name: Upload linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: linux-artifact/nomino
          asset_name: nomino-linux-64bit
          asset_content_type: application/octet-stream
      - name: Download macos artifact
        uses: actions/download-artifact@v1
        with:
          name: macos-artifact
      - name: Upload macos artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: macos-artifact/nomino
          asset_name: nomino-macos-64bit
          asset_content_type: application/octet-stream
      - name: Download windows artifact
        uses: actions/download-artifact@v1
        with:
          name: windows-artifact
      - name: Upload windows artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: windows-artifact/nomino.exe
          asset_name: nomino-windows-64bit.exe
          asset_content_type: application/octet-stream
